@use "../util/" as *;

.search {
  background-color: var(--warna-putih);
  margin-top: 3rem;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 50px;
  width: 300px;
  @include breakpoint(large) {
    margin-top: 1rem;
  }
  input {
    padding: 10px 50px 10px 5px;
    border: none;
    border-radius: 50px;
    @include breakpoint(large) {
      padding: 10px 70px 10px 5px;
      border: none;
      border-radius: 50px;
    }
  }
}
