@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #B0D0DE;
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaf0f5;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 80px;
  width: 1300px;
  height: 880px;
}

.container .wrap .wrap_kiri {
  border-radius: 80px;
  border-right: 1px #96bfce solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.40;
      -ms-flex: 0.40;
          flex: 0.40;
  height: 100%;
}

.container .wrap .wrap_kiri .cari {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 50px;
  width: 300px;
}

.container .wrap .wrap_kiri .cari input {
  padding: 10px 70px 10px 5px;
  border: none;
  border-radius: 50px;
}

.container .wrap .wrap_kiri h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 3rem;
  color: #9DC8D7;
}

.container .wrap .wrap_kiri p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: #9DC8D7;
}

.container .wrap .wrap_kiri .cuaca {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .wrap .wrap_kiri .cuaca .gambar__cuaca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 200px;
  padding: 20px;
  background-color: #9DC8D7;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: bounce 3s infinite ease-in-out;
          animation: bounce 3s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

.container .wrap .wrap_kiri .cuaca .gambar__cuaca img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container .wrap .wrap_kiri .cuaca .gambar__cuaca:hover {
  background-color: #96bfce;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.container .wrap .wrap_kiri .cuaca .info__cuaca {
  background-color: #9DC8D7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 90%;
  height: 380px;
  border-radius: 80px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.container .wrap .wrap_kiri .cuaca .info__cuaca h2 {
  margin-top: 2rem;
  color: #EAF0F5;
  font-weight: 400;
  border-bottom: 1px #EAF0F5 solid;
}

.container .wrap .wrap_kiri .cuaca .info__cuaca p {
  color: #EAF0F5;
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: 300;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  margin-bottom: 0;
}

.container .wrap .wrap_kiri .cuaca .info__cuaca .nama__cuaca {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.container .wrap .wrap_kiri .cuaca .info__cuaca .info__lain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

.container .wrap .wrap_kiri .cuaca .info__cuaca .info__lain h2 {
  font-size: 1rem;
  margin-top: 0rem;
  color: #EAF0F5;
  font-weight: 400;
  border-bottom: 1px #EAF0F5 solid;
}

.container .wrap .wrap_kiri .cuaca .info__cuaca .info__lain p {
  color: #EAF0F5;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.container .wrap .wrap_kiri .cuaca .info__cuaca .info__lain .info__lainlain {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .wrap .wrap_kiri .cuaca .info__cuaca:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.container .wrap .wrap_kanan {
  -webkit-box-flex: 0.60;
      -ms-flex: 0.60;
          flex: 0.60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.container .wrap .wrap_kanan .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.60;
      -ms-flex: 0.60;
          flex: 0.60;
  width: 100%;
}

.container .wrap .wrap_kanan .cuaca__lainHari {
  -webkit-box-flex: 0.40;
      -ms-flex: 0.40;
          flex: 0.40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.container .wrap .wrap_kanan .cuaca__lainHari .card {
  width: 180px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  background-color: #9DC8D7;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.container .wrap .wrap_kanan .cuaca__lainHari .card img {
  width: 40%;
  margin-top: 1rem;
}

.container .wrap .wrap_kanan .cuaca__lainHari .card h2 {
  font-size: 1rem;
  margin-top: 2rem;
  color: #EAF0F5;
  font-weight: 400;
  border-bottom: 1px #EAF0F5 solid;
}

.container .wrap .wrap_kanan .cuaca__lainHari .card p {
  color: #EAF0F5;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  margin-bottom: 0;
}

.container .wrap .wrap_kanan .cuaca__lainHari .card:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  .container {
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3rem 1rem;
    border-radius: 40px;
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
  }
  .container .wrap .wrap_kiri {
    border-right: unset;
    width: 100%;
  }
  .container .wrap .wrap_kiri .cari input {
    padding: 10px 50px 10px 5px;
    border: none;
    border-radius: 50px;
  }
  .container .wrap .wrap_kanan {
    height: 100%;
    width: 100%;
  }
  .container .wrap .wrap_kanan .cuaca__lainHari {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
  .container .wrap .wrap_kanan .cuaca__lainHari .card {
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */